__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
.env/

*.env

*.db
*.sqlite3

.pytest_cache/

htmlcov/
.coverage
.coverage.*

build/
dist/
*.egg-info/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
